.card-login{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #29303a;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}