<div class="container-fluid p-0 ">
  <div class="row m-0">
    <nav class="navbar navbar-expand-lg pe-4 m-0" style="background-color: #1a2435;">
      <a>
        <img src="../../../assets/img/rotuprint.svg" alt="" height="70px">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">

            <a class="nav-link" routerLink="/venta" style="color: #ffff !important; font-weight: bold;">
              <i class="fa fa-home pe-1" style="color: #FC6D26;"> </i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/producto" style="color: #ffff !important; font-weight: bold;">
              <i class="fa fa-folder-open pe-1" style="color: #FC6D26;"></i> Abrir</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" style="color: #ffff !important; font-weight: bold;">
              <i class="fa fa-user pe-1" style="color: #FC6D26;"></i>Acceder
            </a>
            <ul class="dropdown-menu p-3" aria-labelledby="navbarScrollingDropdown" style="min-width: 250px;
            padding: 14px 14px 0;
            overflow: hidden;
            left: -50px;">
              <li>
                <div class="container-fluid">
                  <form action=""></form>
                  <div class="row text-center">
                    <div class="col-12 mb-2">
                      <h4>
                        Acceder
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <input class="form-control" placeholder="Nombre de usuario" type="text">
                    </div>
                    <div class="col-12 mt-2">
                      <input class="form-control" type="text" placeholder="Contraseña">
                    </div>
                    <div class="col-12 mt-3 text-center">
                      <a routerLink="/principal" type="submit" class="btn btn-user btn-block"
                        style="font-size: 20px; background-color: #FC6D26;">Iniciar sesión</a>
                    </div>
                    <div class="col-12 mt-2 text-center">
                      <a>¿Olvidaste tu contraseña?</a>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn" style="background-color: #FC6D26; color: #ffff;" type="submit">Registrate</button>
        </form>
      </div>
    </nav>


  </div>
  <div class="row m-0" style="height: 350px; background-color: #3c4149;">

  </div>

  <div class="row m-0 mt-3">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="input-group">
        <span class="input-group-prepend">
          <div class="input-group-text bg-transparent border-right-0">
            <i class="fa fa-search" style="color: #FC6D26;"></i>
          </div>
        </span>
        <input class="form-control py-2 border-left-0 border " type="search" placeholder="Busqueda rápida"
          class="form-control">
      </div>

    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4"></div>
    <div class="col-2 text-end">
      <button class="btn btn-primary" style="background-color: #FC6D26;" type="button">Iniciar sesión</button>

    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="button" style="background-color: #FC6D26;">Registrarse</button>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1">

    </div>
    <div class="col-10 p-3" style="border: solid 1px; border-radius: 35px;">
      <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>

                </div>
                <div class="col-md-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-2">
                  <div class="card">
                    <div class="card-img">
                      <img src="../../../assets/img/prev.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay" style="color: #ffffffff;">ejemplo</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
            data-bs-slide="prev" style="  left: -35px;
            background-color: #0a0909 !important;
            width: 19px; height: 90px;
            margin-top: 23px; border-radius: 15px 0px 0px 15px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
            data-bs-slide="next" style="
            background-color: #0a0909 !important;
            right: -35px;
            width: 19px; height: 90px;
            margin-top: 23px; border-radius: 0px 15px 15px 0px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>    
  </div>
</div>